html, body {
  background: #E8CBC0;
  background: -webkit-linear-gradient(to right, rgb(73, 83, 126), rgb(75, 41, 27));
  background: linear-gradient(to right, rgb(73, 83, 126), rgb(75, 41, 27));
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}